{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm mt-3 text-center">
                <div class="my-1" style="background-color: rgb(62, 83, 54, 0.5); height: 80px; border-radius: 5px;">
                    <h1 class="message-font pt-4">
                        <strong>Quality & Freshness are here</strong>
                    </h1>
                </div>
                <div class="my-1">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-btn btn btn-md rounded text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
            <div class="col-sm mt-3">
                <div class="my-1" style="background-color: rgb(62, 83, 54, 0.5); height: 80px; border-radius: 5px;">
                    <span class="badge badge-warning mx-1">New!</span>
                    <h1 class="message-font text-center">
                        <strong>Join Our Box Return Community!</strong>
                    </h1>
                </div>
                <div class="my-1 text-center">
                    <h4>
                        <a href="{% url 'returnbox' %}" class="shop-now-btn btn btn-md rounded text-uppercase py-3">Return & Earn</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row py-3" style="height: calc(85vh - 164px)">
            <div class="col-sm">
                <div class="d-flex justify-content-center" id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form action="https://herokuapp.us12.list-manage.com/subscribe/post?u=72ac4890f279810589482b766&amp;id=89a8d3ec0c&amp;f_id=004ebce0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div class="text-center" id="mc_embed_signup_scroll">
                                <h5>Sign Our Newsletter!</h5>
                                <p>Get exclusive offers and discounts codes <br> by subscribing to our monthly newsletter.</p>                
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                    <input type="text" name="b_72ac4890f279810589482b766_89a8d3ec0c" tabindex="-1" value="">
                                </div>
                                <div class="optionalParent">
                                    <div style="grid-template-columns: 0fr 0fr;" class="clear foot justify-content-center">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-green btn-sm" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                               
            </div>
        </div>
    </div>
{% endblock %}