html {
    height: 100%;
}

body {
    background: url('/media/hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato', sans-serif;
}

.logo-img {
    width: 80px;
    height: 80px;
    padding: 0;
}

/* from Bulma Framework */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#social-icon, #social-icon i {
    padding: 0px 15px 0px;
    font-size: 1.5rem;
    color: #000;
    margin: 5px 0px 5px;
}

/* Colours */

#fav-i-color{
    color: #E55B7E;
}

#bag-i-color{
    color: #3E5336;
}

#account-i-color{
    color: #F6DA73;
}

#search-i-color{
    color: #948F47;
}

.footer-color{
    background: #F6DA73;
    color: #000;
}

.btn-color {
    background: #948F47;
    color: white;
}

.btn-color:hover,
.btn-color:active,
.btn-color:focus {
    background: #F6DA73;
    color: #948F47;
}

.border-color {
    border: 1px solid grey !important;
}

.text-color {
    color: #000 !important;
}

.bg-color {
    background: #F6DA73 !important;
}

#banner h4 {
    font-size: 1.2rem;
}

#footer-cr{
    font-size: 0.9rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.message-font {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.shop-now-btn {
    background: #3E5336;
    color: white;
    min-width: 260px;
    font-size: 1.2rem;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus{
    background: #F6DA73;
    color: #3E5336;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly smaller nav on medium screens */
@media (max-width: 1101px) {
    .font-nav{
        font-size: 0.9rem;
    }
    #nav-list {
        padding-left: 0;
        padding-right: 0;
    }    
}
  
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Slightly smaller nav on XS mobile screens */
@media (max-width: 358px) {
    #grand-total-mobile {
        font-size: 0.5rem;
    }
    #banner h4 {
        font-size: 0.9rem;
    }
    .navbar {
        padding: 0rem;
    }
    #footer-cr{
        font-size: 0.7rem;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Slightly smaller nav on medium screens */
@media (min-width: 576px) {
    #image-card {
        width: 12rem;
    }    
}
