html {
    height: 100%;
}

body {
    background: url('https://fresh-farm-2-table.s3.eu-west-1.amazonaws.com/hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato', sans-serif;
}

.logo-img {
    width: 80px;
    height: 80px;
    padding: 0;
}

/* from Bulma Framework */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#social-icon, #social-icon i {
    padding: 0px 15px 0px;
    font-size: 1.5rem;
    color: #000;
    margin: 5px 0px 5px;
}

/* Colours */

#fav-i-color{
    color: #E55B7E;
}

.bag-i-color{
    color: #3E5336;
}

.account-i-color{
    color: #F6DA73;
}

#search-i-color{
    color: #948F47;
}

.footer-color{
    background: #F6DA73;
    color: #000;
}

.btn-color {
    background: #948F47;
    color: white;
}

.btn-color:hover,
.btn-color:active,
.btn-color:focus {
    background: #F6DA73;
    color: #948F47;
}

.border-color {
    border: 1px solid grey !important;
}

.text-color {
    color: #000 !important;
}

.bg-color {
    background: #F6DA73 !important;
}

#banner h4 {
    font-size: 1.2rem;
}

#footer-cr{
    font-size: 0.8rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.message-font {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.shop-now-btn {
    background: #3E5336;
    color: white;
    border: 1px solid #3E5336;
}

.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus{
    background: #F6DA73;
    color: #3E5336;
}

.btn-outline-green {
    background: #F6DA73;
    color: #3E5336 !important;
    border: 1px solid #3E5336;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #3E5336;
    color: white !important;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #3E5336 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 75px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.footer {
    height: 55px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 110px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#mc_embed_signup {
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;
    color: white;
    width: 300px;
}


/* -------------------------------- Media Queries */

/* Slightly smaller nav on medium screens */
@media (max-width: 1101px) {
    #nav-list {
        padding-left: 0;
        padding-right: 0;
    }    
}
  
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Slightly smaller nav on XS mobile screens */
@media (max-width: 358px) {
    #grand-total-mobile {
        font-size: 0.5rem;
    }
    .navbar {
        padding: 0rem;
    }
    #footer-cr{
        font-size: 0.7rem;
    }
    #banner h4 {
        font-size: 0.8rem;
    }
    
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    #banner h4 {
        font-size: 1rem;
    }

}

/* Slightly smaller nav on medium screens */
@media (min-width: 576px) {
    #image-card {
        width: 12rem;
    }    
}

/* Slightly smaller delivery banner on super smallscreena */
@media (max-width: 325px) {
    #banner h4 {
        font-size: 0.7rem !important;
    }
    
}
