<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Name</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="harvest-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fresh Harvest
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="harvest-link">
                <a href="" class="dropdown-item">Fruit</a>
                <a href="" class="dropdown-item">Vegetables</a>
                <a href="" class="dropdown-item">Seasonal</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="box-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fresh Farm Box
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="box-link">
                <a href="" class="dropdown-item">Small</a>
                <a href="" class="dropdown-item">Medium</a>
                <a href="" class="dropdown-item">Family</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Ugly But Tasty</a>
                <a href="" class="dropdown-item">Combos</a>
            </div>
        </li>
    </ul>
</div>