{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <hr class="w-100" style="border:1px solid black">
    <h2 class="text-center text-uppercase">{% trans "Change Password" %}</h2>
    <hr class="w-100" style="border:1px solid black">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-green rounded-1" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
