{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<hr class="w-100" style="border:1px solid black">
<h2 class="text-center text-uppercase">{% trans "Sign Up" %}</h2>
<hr class="w-100" style="border:1px solid black">

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-outline-green rounded-1 btn-md" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
