{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    
    {% block extra_meta %}
      <meta name="description" content="Experience the joy of farm-to-table freshness with Fresh Farm 2 Table. 
        We provide sustainable food delivery of locally sourced, organic produce, delivered conveniently to your doorstep. 
        Choose from our selection of customizable organic veg boxes and enjoy the best in fresh, healthy eating.">
      <meta name="keywords" content="Fresh Organic Produce, Farm to Table Delivery, 
        Sustainable Food Delivery, Local Farm, Organic Veg Box">
      <meta name="author" content="Marcos Da Silva">
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
      {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://kit.fontawesome.com/5aaf6a9662.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>    
      {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fresh Farm 2 Table {% block extra_title %} Sustainable Food Delivery | Locally Sourced Organic Produce - Fresh Farm 2 Table {% endblock %} </title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="banner" class="row text-center">
        <div class="col bg-color text-color">
            <h4 class="logo-font font-weight-bold my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>
      <div class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="navbar-brand d-inline nav-link main-logo-link">
            <img src="https://fresh-farm-2-table.s3.eu-west-1.amazonaws.com/logo.jpeg" class="rounded float-left img-fluid logo-img" alt="fresh farm 2 table logo">
            <h2 class="logo-font text-color my-0"><strong>Farm</strong> 2 Table</h2>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border rounded-left" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control btn btn-color border border-color rounded-right" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div id="nav-list" class="col-12 col-lg-4 my-auto py-1 py-lg-0 font-nav">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
              <a class="text-color nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg account-i-color"></i></div>
                    <p class="my-0">My Account</p>
                </div>
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
              </div>
            </li>
            {% if request.user.is_authenticated %}
            <li class="list-inline-item">
              <a class="text-color nav-link" href="{% url 'favorite_products' %}">
                <div class="text-center">
                    <div><i id="fav-i-color" class="fas fa-heart fa-lg"></i></div>
                    <p class="my-0">My Favourite</p>
                </div>
              </a>
            </li>
            {% endif %}
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-success font-weight-bold{% else %}text-color{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg bag-i-color"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer fixed-bottom mt-auto py-0 footer-color">
      <p id="social-icon" class="text-center text-color my-0">
        <a href="#"><i class="fab fa-facebook-square mb-0"></i></a>
        <a href="#"><i class="fab fa-instagram-square mb-0"></i></a>
      </p>
      <p id="footer-cr" class="font-weight-lighter text-center text-color pb-2">&copy; 1988-2023 The Myself Group Inc. All Rights Reserved</p>
    </footer>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
  
    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>

    <!-- Mailchimp JS -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
        (function($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0]='EMAIL';
            ftypes[0]='email';
            fnames[1]='FNAME';
            ftypes[1]='text';
            fnames[2]='LNAME';
            ftypes[2]='text';
            fnames[3]='ADDRESS';
            ftypes[3]='address';
            fnames[4]='PHONE';
            ftypes[4]='phone';
            fnames[5]='BIRTHDAY';
            ftypes[5]='birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}
  </body>

</html>